<nav>
  <span class="logo">Employee Manager</span>
  <a href="#" (click)="onOpenModal({ mode: 'add' })">Add Employee</a>
  <app-employee-search
    [data]="allEmployees"
    (onSearchResult)="displayedEmployees = $event"
  ></app-employee-search>
</nav>
<div class="employee-container">
  <app-employee-card
    *ngFor="let employee of displayedEmployees"
    [employee]="employee"
    (openModal)="onOpenModal($event)"
  ></app-employee-card>
  <div *ngIf="!displayedEmployees?.length" class="message">
    <p>No employees found!</p>
  </div>
</div>
<app-modals-container
  (onAddEmployee)="onAddEmployee($event)"
  (onEditEmployee)="onEditEmployee($event)"
  (onDeleteEmployee)="onDeleteEmployee($event)"
></app-modals-container>
