/* You can add global styles to this file, and also import other style files */
body {
  background-color: #fafafa;
  margin: 0;
  width: 100vw;
  overflow: hidden;
  overflow-y: auto;
}

* {
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
