<div class="modals-container" #container (click)="closeAllModals($event)">
  <app-add-employee-modal
    id="addEmployee"
    class="modal"
    (closeModal)="closeAllModals()"
    #modal
  ></app-add-employee-modal>
  <app-edit-employee-modal
    id="editEmployee"
    class="modal"
    (closeModal)="closeAllModals()"
    [employee]="currentEmployee"
    #modal
  ></app-edit-employee-modal>
  <app-delete-employee-modal
    id="deleteEmployee"
    class="modal"
    (closeModal)="closeAllModals()"
    [employee]="currentEmployee"
    #modal
  ></app-delete-employee-modal>
</div>
